flask
scikit-learn==1.6.1
transformers
torch
accelerate
tensorflow
joblib
numpy
imbalanced-learn
lime
gunicorn
werkzeug
spacy
flask-caching
flashtext
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0.tar.gz
